 /**
 * ESUI (Enterprise Simple UI)
 * Copyright 2013 Baidu Inc. All rights reserved.
 *
 * @file 时间区间对比日历控件样式
 * @author Haihan Wang(wanghaihan@baidu.com)
 */
@import "mixin.less";
@import "variable.less";
.@{ui-class-prefix}-rangecfcalendar-inline-block{
    .inline-block ();
    padding:0 2px;
    vertical-align: middle;
}
.@{ui-class-prefix}-rangecfcalendar-text {
    padding-left:3px;
    float:left;
}

.@{ui-class-prefix}-rangecfcalendar-arrow {
    float: right;
    height: 16px;
    margin-top: 3px;
    margin-right: 5px;
    width: 16px;
    .linear-gradient-background-with-image (
        top, #ffffff, #f6f6f6, "../img/esui-combo-arrow.png", left, -9px, #f3f3f3);
}